h1 {
    text-align: center;
}
p {
  margin-top: 40px;
  margin-left: 20px;
  margin-right: 20px;
}
* {
    box-sizing: border-box;
    font-family: "Comic Sans MS";
}
#box {
    background-color: gray;
    border: 3px solid black;
    float: left;
    margin: 1%;
}
#title{
    background-color: pink;
    border-left: 3px solid black;
    border-bottom: 3px solid black;
    float: right;
    width: auto;
    padding-left: 5%;
    padding-right: 5%;
}
#title2{
  background-color: indianred;
  color: white;
  border-left: 3px solid black;
  border-bottom: 3px solid black;
  float: right;
  width: auto;
  padding-left: 5%;
  padding-right: 5%;
}
#title3{
  background-color: palegoldenrod;
  border-left: 3px solid black;
  border-bottom: 3px solid black;
  float: right;
  width: auto;
  padding-left: 5%;
  padding-right: 5%;
}

/* Desktop */
@media (min-width: 992px) {
    .col-lg {
        float: left;
        width: 31.33%;
      }
}

/* Tablet */
@media (min-width: 768px) and (max-width: 991px) {
  .col-md {
    float: left;
    width: 48%;
  }
}